.mapContainer {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.info {
    color: white;
    position: fixed;
    border-radius: 20px;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    padding: 10px;
}